html,body {
  height: 100%;
  margin: 0;
  background-color: #FFFFFF;
  font-family: 'RobotoDraft', sans-serif;
}


core-header-panel {
  background: white;
}
core-toolbar {
  background-color: #03A9F4;
}
#navheader {
  background-color: #56BA89;
}
.content {
  padding: 20px;
}
.twitter {
  font-size: 24px;
  margin: 20px auto;
  color: purple;
  width: 100%;
  text-align: center;

}
a {
  text-decoration: none;
}
#img-rafa{
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  width: 500px;
  height: 375px;
}
#img-kevin{
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
